{% extends 'base.html.twig' %}

{% block title %}Listes des Hackathons!{% endblock %}

{% block body %}
    {% for hackathon in hackathons %}
        {{ hackathon.name }} <br>
        {{ hackathon.startDate|date('d/m/Y') }} <br>
        <a href="{{ path('back_hackathon_show', {'id': hackathon.id}) }}">Voir</a>
        <a href="{{ path('back_hackathon_update', {'id': hackathon.id}) }}">Editer</a> <br>
        <a href="{{ path('back_hackathon_remove', {'id': hackathon.id, 'token': csrf_token('remove' ~ hackathon.id)}) }}">Supprimer</a> <br>

        <br>
    {% endfor %}
{% endblock %}
